<header class="clearfix">
	<h3>Backbone<span class="blue">&#43;</span></h3>
	<ul class="menu">
		<li><a href="#" title="Home" class="button">Home</a></li>
		<li><a href="#/documentation" title="Documentation" class="button">Documentation</a></li>
		<li><a href="" target="_blank" title="Github" class="button">Github</a></li>
	</ul>
</header>
<div class="clearfix"></div>
<article class="clearfix">
	<div class="sidebar">
		<h4>Documentation</h4>
		<ul id="" class="">
			<li><a href="" title="">Introduction</a></li>
			<li><a href="" title="">Backbone.Element</a></li>
			<li><a href="" title="">Backbone.Scenes</a></li>
			<li><a href="" title="">Backbone.Stage</a></li>
		</ul>

	</div>	
</article>