<header class="clearfix">
	<h3>Backbone<span class="blue">&#43;</span></h3>
	<ul class="menu">
		<li><a href="#" title="Home" class="button">Home</a></li>
		<li><a href="#/documentation" title="Documentation" class="button">Documentation</a></li>
		<li><a href="https://github.com/blackjk3/BackbonePlus" title="Github" class="button">Github</a></li>
	</ul>
</header>
<div class="clearfix"></div>
<article class="clearfix">
	<div class="sidebar">
		<h4>Documentation</h4>
		<ul id="" class="">
			<li><a href="#/documentation/intro" title="">Introduction</a></li>
			<li><a href="#/documentation/element" title="">Backbone.Element</a></li>
			<li><a href="#/documentation/scene" title="">Backbone.Scene</a></li>
			<li><a href="#/documentation/stage" title="">Backbone.Stage</a></li>
			<li><a href="#/documentation" title="">Backbone.Easing</a></li>
			<li><a href="#/documentation" title="">Backbone.PhoneGap</a></li>
		</ul>
	</div>
	<div class="docs"></div>
</article>