<header class="clearfix">
	<h3>Backbone<span class="blue">&#43;</span></h3>
	<ul class="menu clearfix">
		<li><a href="#" title="Home" class="button">Home</a></li>
		<li><a href="#/documentation" title="Documentation" class="button">Documentation</a></li>
		<li><a href="" target="_blank" title="Github" class="button">Github</a></li>
	</ul>
</header>
<article>	
	<p class="slogan">Backbone<span class="blue">&#43;</span> is a lightweight framework built on top of the very popular backbone library.<br>Just some features that are added to backbone plus are</p>
	<h3>Features</h3>
	<ul class="features">
		<li>Stage Management</li>
		<li>Layout/Scene management</li>
		<li>Animation</li>
		<li>Scene Transitions</li>
		<li>PhoneGap integration</li>
	</ul>
</article>